<% include ../header.ejs %>

<h3 style="font-family: 'Nanum Pen Script OTF'"><span><%= title %></span></h3>
<hr>

<div class="col-sm-12">
    <table class="table table-bordered table-hover">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>출처</th>
            <th>조회수</td>
            <!--<th>변경일</td>-->
        </tr>

        <%
        for(var i = 0; i < results.length; i++)
        {
        %>
        <tr>
            <td><%= i + 1 %></td>
            <% if(isLogin){%>
            <td><a onclick="pointup('<%= results[i].IDX %>')" href="<%= results[i].LINK %>" target="_blank"><%= results[i].TITLE %></a></td>
            <% } else {%>
            <td><a onclick="pointup('<%= results[i].IDX %>')" href="<%= results[i].LINK %>" target="_blank"><%= results[i].TITLE %></a></td>
            <% } %>
            <% if ( results[i].TYPE == 1) { %>
            <td>디씨</td>
            <%}%>
            <% if ( results[i].TYPE == 2) { %>
            <td>오유</td>
            <%}%>
            <td><%= results[i].TOTAL %></td>
        </tr>
        <%
        }
        %>

    </table>
    <div style="text-align: center">
        <% if(page > pageSize) { %>
        [ <a href="/board/F10list/1" style="text-decoration: none;">◀◀</a> ]
        [ <a href="/board/F10list/<%=startPage-1%>" style="text-decoration: none;">◀</a> ]
        <% } else {%>
        [ <span style="color:gray">◀◀</span> ]
        [ <span style="color:gray">◀</span> ]
        <% } %>
        &nbsp;&nbsp;
        <% for (var i=startPage; i<=endPage; i++) { %>
        <% if (i== page) {%>
        [ <%=i%> ]
        <% } else { %>
        [ <a href="/board/F10list/<%=i%>" style="text-decoration: none;"><%=i%></a> ]
        <% } %>
        <% } %>
        &nbsp;&nbsp;
        <% if (endPage < totalPage) { %>
        [ <a href="/board/F10list/<%=endPage+1%>" style="text-decoration: none;">▶</a> ]
        [ <a href="/board/F10list/<%=totalPage%>" style="text-decoration: none;">▶▶</a> ]
        <% } else {%>
        [ <span style="color:gray">▶</span> ]
        [ <span style="color:gray">▶▶</span> ]
        <% } %>
    </div>
</div>
<script>

    function pointup(idx) {
        $.ajax({
            url: '/board/point',
            type: 'POST',
            data: {idx : idx},
            success: function (result) {
                for (var i = 1;i <= result.length; i++){
                    $("#s" + i + "").html(result[i].TITLE);
                    $("#s" + i + "").attr("target", "_blank");
                    $("#s" + i + "").attr("href", result[i].LINK);
                }
            }
        });
    }

</script>


<% include ./bar.ejs%>
<% include ../footer.ejs %>